@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text1: #252426;
  --color-text2: #5D5D5D;
  --color-hint: #A6A6A6;
  --color-bg: #F2F2F2;
  --color-card-bg: #D9D9D9;
  --color-success: #4CAF50;

  --font-size-base: 16px;
  --font-size-base-rem: 1rem;
  --font-size-h1: 2.375rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-body1: 1rem;
  --font-size-body2: 0.85rem;
  --font-size-caption: 0.6rem;
}

:root[data-theme='dark'] {
  --color-text1: #E0E0E0;  
  --color-text2: #B3B3B3;  
  --color-hint: #8C8C8C;   
  --color-bg: #1E1E1E;     
  --color-card-bg: #333333;
}

html, body {
  background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6, p, a, span, div, label, input, button, select, option, textarea {
  color: var(--color-text1);
}