.mdxeditor {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 10px;
  height: 50vh;
  overflow-x: scroll;
}

.mdxeditor h1 {
  font-size: var(--font-size-h1)
}

.mdxeditor h2 {
  font-size: var(--font-size-h2)
}

.mdxeditor h3 {
  font-size: var(--font-size-h3)
}

.mdxeditor h4 {
  font-size: var(--font-size-h4)
}

.mdxeditor p {
  font-size: var(--font-size-body1)
}
